// Add custom styles here (scss -> _style.css)

:root {
  --custom-primary: #c3a064;
  --custom-secondary: #694a20;
  --custom-dark: #020202;
  --custom-light: #f7f8fa;
  --custom-text: #707176;
  --custom-inactive: #3e3d3d;
  --custom-font-family: Gotham;
}

.custom-primary {
  color: var(--custom-primary) !important;
}

.custom-secondary {
  color: var(--custom-secondary) !important;
}

.custom-dark {
  color: var(--custom-dark) !important;
}

.custom-light {
  color: var(--custom-light) !important;
}

.custom-text {
  color: var(--text) !important;
}

.custom-inactive {
  color: var(--inactive) !important;
}

.custom-bg-primary {
  background-color: var(--custom-primary) !important;
}

.custom-bg-secondary {
  background-color: var(--custom-secondary) !important;
}

.custom-bg-primary {
  background-color: var(--custom-primary) !important;
  border-color: var(--custom-primary) !important;
}

.custom-bg-secondary {
  background-color: var(--custom-secondary) !important;
  border-color: var(--custom-secondary) !important;
}

.custom-bg-dark {
  background-color: var(--custom-dark) !important;
  border-color: var(--custom-dark) !important;
}

.custom-bg-light {
  background-color: var(--custom-light) !important;
  border-color: var(--custom-light) !important;
}

.custom-bg-text {
  background-color: var(--text) !important;
  border-color: var(--custom-text) !important;
}

.custom-bg-inactive {
  background-color: var(--inactive) !important;
  border-color: var(--custom-inactive) !important;
}

.custom-font {
  font-family: var(--custom-font-family) !important;
}

// ==================================

body * {
  font-family: var(--custom-font-family);
  // color: var(--custom-text);
}

// ==================================

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

body,
.example h1,
.example p,
.example .button {
  transition: all 0.2s ease-in-out;
}

body.light-theme {
  background-color: #151515;
}

body.light-theme .example h1 {
  color: #ffffff;
}

body.light-theme .example p {
  color: #ffffff;
}

body.light-theme .buttons .button {
  color: #ffffff;
  border-color: #ffffff;
}

body.light-theme .buttons .button:hover {
  color: #151515;
  background-color: #ffffff;
}

.example {
  font-family: "Roboto", sans-serif;
  width: 550px;
  height: 378px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.example .flipdown {
  margin: auto;
}

.example h1 {
  text-align: center;
  font-weight: 100;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 10px;
}

.example p {
  text-align: center;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 35px;
}

.example .buttons {
  width: 100%;
  height: 50px;
  margin: 50px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example .buttons p {
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  padding: 0px 25px 0px 0px;
  color: #333;
  margin: 0px;
}

.example .button {
  display: inline-block;
  height: 50px;
  box-sizing: border-box;
  line-height: 46px;
  text-decoration: none;
  color: #333;
  padding: 0px 20px;
  border: solid 2px #333;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.example .button:hover {
  background-color: #333;
  color: #fff;
}

.example .button i {
  margin-right: 5px;
}

@media (max-width: 550px) {
  .example {
    width: 100%;
    height: 362px;
  }

  .example h1 {
    font-size: 2.5em;
  }

  .example p {
    margin-bottom: 25px;
  }

  .example .buttons {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    display: block;
  }

  .example .buttons p,
  .example .buttons a {
    float: none;
    margin: 0 auto;
  }

  .example .buttons p {
    padding-right: 0px;
  }

  .example .buttons a {
    display: inline-block;
  }
}

// ========================

.wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.content {
  padding: 20px;
  padding-bottom: 50px;
}

a:hover {
  text-decoration: none;
}

a,
span {
  font-size: 15px;
  font-weight: 600;
  color: rgb(50, 141, 245);
  padding-bottom: 30px;
}

p.text-muted {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

b {
  font-size: 15px;
  font-weight: bolder;
}

.option {
  display: block;
  height: 50px;
  background-color: #f4f4f4;
  position: relative;
  width: 100%;
}

.option:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark,
.crossmark {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 22px;
  width: 22px;
  background-color: #f4f4f4;
  border-radius: 2px;
  padding: 0;
}

.option:hover input ~ .checkmark,
.option:hover input ~ .crossmark {
  background-color: #e8e8e8;
}

.option input:checked ~ .checkmark {
  background-color: #79d70f;
}

.option input:checked ~ .crossmark {
  background-color: #ec3838;
}

.checkmark:after,
.crossmark:after {
  content: "\2714";
  position: absolute;
  background-color: #79d70f;
  display: none;
  color: #fff;
  padding-left: 4px;
  width: 22px;
  font-size: 16px;
}

.crossmark:after {
  content: "\2715";
  background-color: #ec3838;
}

.option input:checked ~ .checkmark:after,
.option input:checked ~ .crossmark:after {
  display: block;
  transition: 100ms ease-out 1s;
}

p.mb-4 {
  border-left: 3px solid green;
}

p.my-2 {
  border-left: 3px solid red;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  background-color: #229aeb;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

input[type="submit"]:hover:focus {
  border: none;
  outline: none;
  background-color: #229bebad;
}

.mouse-disabled {
  pointer-events: none;
}
.slide {
  display: none;
}
.slide.active {
  display: block;
}

.slide {
  width: 100%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-screen {
  position: fixed;
  display: flex;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: #f8f9fc;
  opacity: 1;
}

#myChart {
  width: 100%;
  height: 400px;
}

.loading-screen p {
  padding: 0 30px;
}
span {
  color: rgba(255, 255, 255, 0.3);
}
.list.instruction {
  li {
    margin: 10px 0;
  }
}
.nav-item {
  .nav-link:hover span {
    color: white;
  }
}
.result-text span {
  font-size: 28px;
  text-decoration: underline;
}
